# Data types

- A data type is the classification of the value that a variable contains

# Types

- Basic datatypes
- Derived datatypes

# int

In [2]:
# int - all numbers +ve,0 or -ve without a decimal points.

In [3]:
a=10
print(a,type(a))

10 <class 'int'>

In [4]:
a=0
print(a,type(a))

0 <class 'int'>

In [5]:
a=-100
print(a,type(a))

-100 <class 'int'>

# Float

In [6]:
# float - all numbers +ve,0 or -ve with a decimal point is float.

In [7]:
a=2.5
print(a,type(a))

2.5 <class 'float'>

In [8]:
a=0.0
print(a,type(a))

0.0 <class 'float'>

In [9]:
a=-1.8
print(a,type(a))

-1.8 <class 'float'>

# string

In [10]:
# string - Anything kept inside the ' '," ",''' ''',""" """, is a string value

In [13]:
a='Python's'
print(a,type(a))

SyntaxError: invalid syntax (4017147521.py, line 1)

In [14]:
b="Python's"
print(b,type(b))

Python's <class 'str'>

In [18]:
print(a)

Python

In [19]:
a='''Python'''
print(a,type(a))

Python <class 'str'>

In [20]:
a='10'
print(a,type(a))

10 <class 'str'>

In [21]:
# Output - Python's class

a="Python's class"
print(a,type(a))

Python's class <class 'str'>

In [24]:
#Output - This is "Python" class
c1='This is "Python" class'
print(c1)

This is "Python" class

In [26]:
a_1='''Hello everyone.
This is python class
Python is easy'''
print(a_1)

Hello everyone.
This is python class
Python is easy

In [27]:
_b="""This is Python class
Goodmorning everyone"""
print(_b)

This is Python class
Goodmorning everyone

# Complex

In [28]:
# a+bj is the complex value
# Where a is a real number and b is imaginary number 
# a and b can be int or float

In [31]:
a=10+20j
print(a,type(a))

print(a.real)
print(a.imag)

(10+20j) <class 'complex'>
10.0
20.0

In [32]:
x=2.5+3j
print(a,type(a))

(10+20j) <class 'complex'>

In [33]:
a=100+200j
print(a,type(a))

(100+200j) <class 'complex'>

In [34]:
x=2.5+3j
print(a,type(a))

(100+200j) <class 'complex'>

In [37]:
x=2.5+3j
print(a,type(x))
print(type(x))

(100+200j) <class 'complex'>
<class 'complex'>

In [38]:
a=10j
print(a,type(a))

10j <class 'complex'>

# Boolean

In [ ]:
# True and False are the boolean values

In [39]:
a=True
print(a,type(a))

True <class 'bool'>

In [43]:
a=truejfldmd
print(a,type(a))

NameError: name 'truejfldmd' is not defined

In [44]:
# True - 1
# False - 0

In [45]:
True + True

2

In [46]:
False+False

0

In [47]:
True - False

1

In [52]:
False - True

-1

# Nonetype

In [48]:
#It is used to represent the null or missing values

In [49]:
a=None
print(a,type(a))

None <class 'NoneType'>

In [51]:
Name='Rohit'
Code=None
Age=26
Department='Data'

print(Name,Age,Code,Department)

Rohit 26 None Data

# Derived Datatypes

# List

In [53]:
# Anything kept inside the [] is a list
# A list is a container type that contain heterogenous values

In [54]:
a=[1,2,3,4,5]
print(a,type(a))

[1, 2, 3, 4, 5] <class 'list'>

In [55]:
a=[100,200,3,4,10]
print(a,type(a))

[100, 200, 3, 4, 10] <class 'list'>

In [56]:
len(a)

5

In [57]:
a=[10,5.5,10+20j,'Python',True,None,False]
print(a,type(a))

[10, 5.5, (10+20j), 'Python', True, None, False] <class 'list'>

# Tuple

In [58]:
#Anything kept inside the () is known as a tuple
#it is a container type that can contain heterogenous elements

In [60]:
a=(1,2,3,4,5)
print(a,type(a))

a=(10,5.5,10+20j,'Python',True,None,False)
print(a,type(a))

(1, 2, 3, 4, 5) <class 'tuple'>
(10, 5.5, (10+20j), 'Python', True, None, False) <class 'tuple'>

# List vs Tuple

- List is mutable whereas tuple is immutable
- Mutable means we can modify the values
- Immutable means we cannot modify the values

In [61]:
a=[1,2,3,4,5]

In [63]:
a[2]=300
print(a)

a[0]=19
print(a)

[1, 2, 300, 4, 5]
[19, 2, 300, 4, 5]

In [67]:
a=(10,5.5,10+20j,'Python',True,None,False)
print(a[0])
a[6]

10

False

In [68]:
a=(10,5.5,10+20j,'Python',True,None,False)

In [69]:
a[2]=300

TypeError: 'tuple' object does not support item assignment

# Dictionary

In [70]:
#Anything kept inside the {} in the form of key:value pair is known as a dictionary
#Every key value pair is seperated by a coma

In [72]:
d={1:100,'Name':'Ramesh','ID':101,'city':'Mumbai'}
print(d,type(d))

{1: 100, 'Name': 'Ramesh', 'ID': 101, 'city': 'Mumbai'} <class 'dict'>

In [73]:
d['Name']

'Ramesh'

In [74]:
d['ID']

101

In [76]:
d.keys()

dict_keys([1, 'Name', 'ID', 'city'])

In [77]:
d.values()

dict_values([100, 'Ramesh', 101, 'Mumbai'])

In [78]:
d['Name']='Tannu'

In [79]:
d

{1: 100, 'Name': 'Tannu', 'ID': 101, 'city': 'Mumbai'}

In [80]:
d['ID']=110

In [81]:
d

{1: 100, 'Name': 'Tannu', 'ID': 110, 'city': 'Mumbai'}

In [82]:
d={1:100,'Name':'Ramesh','ID':101,'city':'Mumbai'}
print(d)

{1: 100, 'Name': 'Ramesh', 'ID': 101, 'city': 'Mumbai'}

In [83]:
d

{1: 100, 'Name': 'Ramesh', 'ID': 101, 'city': 'Mumbai'}

# Set

In [85]:
# Values kept inside the {} is known as a set
# Set does not allow the duplicates values
s={1,2,3,4,5}
print(s,type(s))

{1, 2, 3, 4, 5} <class 'set'>

In [86]:
s={1,2,3,4,5,1,2,31,1,1,1,2,2,2,3,3,3,42,2,3,4,5,6}
print(s)

{1, 2, 3, 4, 5, 6, 42, 31}

In [87]:
s.add(100)

In [88]:
s

{1, 2, 3, 4, 5, 6, 31, 42, 100}

In [89]:
s.remove(3)

In [90]:
s

{1, 2, 4, 5, 6, 31, 42, 100}

In [92]:
s.remove(31)

In [93]:
s

{1, 2, 4, 5, 6, 42, 100}

In [94]:
s.add('Python')

In [95]:
s

{1, 100, 2, 4, 42, 5, 6, 'Python'}

In [96]:
s[0]

TypeError: 'set' object is not subscriptable

# Range

# range(start,stop,step)

In [98]:
# range() is used to create a sequence of integer values
# Stop value is excluded

In [104]:
# Create a sequence of numbers from 1 to 10
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [106]:
# Create a sequence of even numbers from 1 to 20
list(range(2,21,2))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [107]:
# [10,9,8,7,6,5,4,3,2,1]
list(range(10,0,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

# Typecasting

In [108]:
# Converting the datatype of a value is known as typecasting

# int()

In [109]:
#it typecast to int

In [113]:
a=4.9
print(a,type(a))

b=int(a)
print(b,type(b))


a='10'
b=int(a)
print(b,type(b))

4.9 <class 'float'>
4 <class 'int'>
10 <class 'int'>

In [115]:
a=input("enter a number: ")
b=input("enter a number: ")
c=a+b
print(c)

enter a number: 5
enter a number: 5
55

In [116]:
'5' + '5'

'55'

In [118]:
a=int(input("enter a number: "))
b=int(input("enter a number: "))
c=a+b
print(c)

enter a number: 5
enter a number: 5
10

In [119]:
int('5') + int('5')

10

In [122]:
a=True
b=int(True)
print(b,type(b))

1 <class 'int'>

In [123]:
a=False
b=int(False)
print(b,type(b))

0 <class 'int'>

# float()

- it typecast to float

In [124]:
a=10
print(a,type(a))

10 <class 'int'>

In [125]:
b=float(a)
print(b,type(b))

10.0 <class 'float'>

In [129]:
a='10.5'
print(a,type(a))
b=float(a)
print(b,type(b))

10.5 <class 'str'>
10.5 <class 'float'>

In [132]:
a='10.5'
c=int(float(a))
print(c,type(c))

10 <class 'int'>

In [133]:
a='abc'
float(a)

ValueError: could not convert string to float: 'abc'

# complex(a,b)

- it typecast to complex
- where a is real number and b is the imaginary number

In [134]:
a=10
b=20
c=complex(a,b)
print(c)

(10+20j)

In [135]:
complex('x','y')

TypeError: complex() can't take second arg if first is a string

# str()

- it typecast to string

In [137]:
a=10
print(a,type(a))

b=str(a)
print(b,type(b))

10 <class 'int'>
10 <class 'str'>

In [139]:
a=10.55
print(a,type(a))

b=str(a)
print(b,type(b))

10.55 <class 'float'>
10.55 <class 'str'>

In [141]:
a=True
c=str(a)
print(c,type(c))

True <class 'str'>

# bool()

- it typecast to boolean

In [151]:
print(bool(-1))

True

In [157]:
print(bool(''))

False

In [159]:
print(bool(' '))

True

In [152]:
print(bool(100))

True

In [160]:
print(bool(None))

False

In [161]:
a=input("enter a number: ")
b=input("enter a number: ")
c=a+b
print(c)

enter a number: python is
enter a number: amazing
python is amazing

In [163]:
a="pythonis"
b= " "
c="amazing"
print(a+b+c)

pythonis amazing

In [164]:
print(bool('0'))

True

In [165]:
print(bool([]))

False

In [166]:
print(bool((0)))

False

In [167]:
print(bool((0,)))

True

In [170]:
a=(0)
b=(0,)
print(a,type(a))
print(b,type(b))

0 <class 'int'>
(0,) <class 'tuple'>